<h1>bitrag ersteue.</h1>

<form>
  <p>titel</p>
  <input type="text" />
  <p>beschribig</p>
  <input type="text" />
  <p>hashtags</p>
  <input type="text" />
  <p>kanton</p>
  <input type="text" />
  <p>google maps link</p>
  <input type="text" />
  <div>
    <p>foto</p>
    <input type="image" />
  </div>
  <input type="submit" value="ersteue" />

</form>