<h1>bitrag ersteue.</h1>

<form action="/create_post" enctype="multipart/form-data" method="post">
  <p>titel</p>
  <input type="text" name="titel" />
  <p>beschribig</p>
  <input type="text" name="description" />
  <p>hashtags</p>
  <input type="text" name="tag_name" />
  <p>kanton</p>
  <select name="kanton" id="kanton">
    <option value="bern">bern</option>
    <option value="fribourg">fribourg</option>
    <option value="luzern">luzern</option>
    <option value="basel">basel</option>
    <option value="z端rich">z端rich</option>
    <option value="uri">uri</option>
    <option value="schwyz">schwyz</option>
    <option value="obwalden">nidwalden</option>
    <option value="glarus">glarus</option>
    <option value="zug">zug</option>
    <option value="solothurn">solothurn</option>
    <option value="schaffhausen">schaffhausen</option>
    <option value="appenzell">appenzell</option>
    <option value="st. gallen">st. gallen</option>
    <option value="graub端nden">graub端nden</option>
    <option value="aargau">aargau</option>
    <option value="thurgau">thurgau</option>
    <option value="tessin">tessin</option>
    <option value="waadt">waadt</option>
    <option value="wallis">wallis</option>
    <option value="neuenburg">neuenburg</option>
    <option value="genf">genf</option>
    <option value="jura">jura</option>
  </select>
  <p>google maps link</p>
  <input type="url" name="google_maps" />
  <p>foto</p>
  <input type="file" name="photo_url" />
  <input type="submit" value="ersteue" />

</form>