<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="welcome">
    <h1>Erklärung der Website</h1>
    <p>Unsere Website ist eine typische Restaurant-Website mit einer optimierten
      Nutzeroberfläche. Die Navigation befindet sich in einem klassischen
      Header, wobei die Menüpunkte nebeneinander aufgelistet sind. Das Logo ist
      in die Navigation integriert und befindet sich oben rechts. Durch einen
      Klick auf das Logo gelangt man zurück zur Startseite («Rama Thai»). Diese
      Umstellung im Vergleich zur vorherigen Version erleichtert die
      Orientierung für die Besucherinnen und Besucher und folgt den
      UX-Prinzipien.</p>
    </br>
    <p>Über die Startseite «Rama Thai» kann man durch Buttons auch direkt auf
      die Seiten «Über uns» und «Menü/Take Away» gelangen.</p>
    </br>
    <p>Im Footer sind die Öffnungszeiten ersichtlich, die auf jeder Unterseite
      der Website eingeblendet werden.</p>
    </br>
    <p>Zudem haben wir gezielt hochwertigere Bilder der Gerichte sowie des
      Ambientes verwendet, um die Authentizität des Restaurants zu
      unterstreichen. Eine ausgewogene Integration von Bildern in die
      verschiedenen Bereiche der Website sorgt für ein ansprechendes und
      stimmiges Gesamtbild.</p>
    </br>
    <p>Unter dem Navigationspunkt «Menü/Take Away» findet man die digitale
      Speisekarte, die sowohl die Gerichte als auch passende Bilder dazu zeigt.
      Dies ermöglicht den Nutzerinnen und Nutzern eine bessere Vorstellung der
      angebotenen Speisen.</p>
    </br>
    <p>Auf der Seite «Reservation» kann man über einen Kalender das gewünschte
      Datum sowie die Uhrzeit und die Anzahl der Personen auswählen, mit denen
      man das Restaurant besuchen möchte, diese haben wir von der originalen
      Website des Rama Thai übernommen. </p>
      <p class="bold">Wichtig: Bitte dort keine Einträge machen, da der Link der originale vom Rama Thai ist!</p>
    </br>
    <p>Auf der Seite «Über uns» befindet sich ein kurzer Text über das
      Restaurant sowie über das Team – ergänzt durch ein passendes Teamfoto.</p>
    </br>
    <p>Auf der letzten Seite «Kontakt» findet man eine Karte mit dem Standort
      des Restaurants sowie ein Formular, über das man direkt Kontakt aufnehmen
      kann. Zudem sind dort auch die Kontaktdaten wie E-Mail-Adresse und
      Telefonnummer hinterlegt, um alternative Kontaktmöglichkeiten zu bieten.</p>
    </br>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>