<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="welcome">
    <h1>Impressum</h1>
    <p>Restaurant Rama Thai
    </br>
      Untere Hauptgasse 32 
  </br>
      3600 Thun 
</br>
      Tel.: +41 (0)33 223 64 64
</br>
      E-Mail: info@ramathai.ch</p>
      <h2>Gewährleistung</h2>
      Wir bemühen uns um möglichst korrekte und aktuelle Information. Die Inhalte wurden sorgfältig
      erarbeitet. Trotzdem können Fehler auftreten. Autoren und Herausgeber
      übernehmen keine Gewähr und Haftung für die Richtigkeit, Zuverlässigkeit,
      Vollständigkeit und Aktualität der Information. Die Verwendung der Website
      und der darin enthaltenen Informationen erfolgt auf eigene Gefahr.
      Änderungen können jederzeit vorgenommen werden. </p>
      <h2>Fotos</h2>
      <p>Alle Fotos wurden von <a href="https://unsplash.com/de">Unsplash</a> heruntergeladen.</p>
      <h2>Konzeption, Webdesign & Realisation</h2>
      <p>
      Aline Schmutz & Leandra Wyss im Rahmen eines Schulprojektes des BBZ Biel.</p>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>