<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section id="kontakt-seite">
    <div class="links">
      <a
        href="https://www.google.com/maps/place/Rama+Thai/@46.7611847,7.628847,17z/data=!3m1!4b1!4m6!3m5!1s0x478fb2e0b60287bb:0x9caf88e0763f25bc!8m2!3d46.7611847!4d7.628847!16s%2Fg%2F113jzgy28?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D"
      ><img src="/uploads/google_maps.png" alt="Google Maps" /></a>
      <div class="oeffnungszeiten">
        <p class="bold">Öffnungszeiten:</p>
        <p class="bold">Mo. / Mi. - Fr.</p>
        <p>11:45 - 13:00</p>
        <p>17:30 - 21:30</p>
        <p class="bold">Sa. - So.</p>
        <p>17:30 - 21:30</p>
      </div>
    </div>

    <div class="rechts">
      <form action="/kontakt">
        <input type="text" value="Name" />
        <input type="text" value="Nachname" />
        <input type="text" class="long" value="Deine Nachricht" />
        <input type="submit" value="Absenden" class="btn" />
      </form>
      <p>Bei Fragen oder wünschen können Sie uns anrufen oder uns über unser
        Kontaktformular kontaktieren.</p>
      <div class="kontaktangaben">
        <p class="bold">Rama Thai</p>
        <p>Telefon: +41 98 999 888 77 00</p>
        <p>Email: ramathai@gmail.com</p>
      </div>
    </div>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>