<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section id="kontakt-seite">
    <div class="links">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.1881175079166!2d7.626272076844192!3d46.761188345973316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478fb2e0b60287bb%3A0x9caf88e0763f25bc!2sRama%20Thai!5e0!3m2!1sde!2sch!4v1747119215469!5m2!1sde!2sch"
        width="500"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="oeffnungszeiten">
        <p class="bold">Öffnungszeiten:</p>
        <p class="bold">Mo. / Mi. - Fr.</p>
        <p>11:45 - 13:00</p>
        <p>17:30 - 21:30</p>
        <p class="bold">Sa. - So.</p>
        <p>17:30 - 21:30</p>
      </div>
    </div>

    <div class="rechts">
      <form action="/kontakt">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Nachname" />
        <input type="textarea" class="long" placeholder="Deine Nachricht" />
        <input type="submit" value="Absenden" class="btn" />
      </form>
      <p class="fragen">Bei Fragen oder wünschen können Sie uns anrufen oder uns
        über unser Kontaktformular kontaktieren.</p>
      <div class="kontaktangaben">
        <p class="bold">Rama Thai</p>
        <p>Telefon: +41 98 999 888 77 00</p>
        <p>E-Mail: ramathai@gmail.com</p>
      </div>
    </div>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>