<header>
  <div class="nav-container">
    <a href="/start"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/start">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="hero">
    <img src="/uploads/hero.png" alt="Restaurant Innenansicht" />
  </section>

  <section class="welcome">
    <h1>Kontakt</h1>
    <p>Unser Team verwöhnt Sie mit kulinarischen Genüssen & gepflegter
      Gastfreundschaft. Gemütliche Räume & ein abwechslungsreiches Angebot laden
      zum Schwelgen in Heimat- oder Feriengefühlen ein. Freuen Sie sich auf
      gesunde & erfrischende Momente in unserem Restaurant. Das Rama Thai ist
      seit 2021 in das ehemalige Rössli Berntor umgezogen.</p>
    <div class="buttons">
      <a href="#" class="btn">Über Rama Thai</a>
      <a href="#" class="btn">Unser Angebot</a>
    </div>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="#">Impressum</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>