<h2>log di ih.</h2>

<form>
  <p>nutzername</p>
  <input type="text" />
  <p>passwort</p>
  <input type="password" />
  <input type="submit" value="login" />

  <p>hesch no kes konto? <a href="/registration">erstell eis!</a></p>
</form>