<h1>log di ih.</h1>

<form action="/login" method="POST">
  <p>nutzername</p>
  <input type="text" name="username" />
  <p>passwort</p>
  <input type="password" name="passwort" />
  <input type="submit" value="login" />

  <p>hesch no kes konto? <a href="/registration">erstell eis!</a></p>
</form>