<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu" class="bold">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="welcome">
    <h1>Unser Angebot</h1>
    <p>Wir bieten Ihnen am Mittag & abends preiswerte Gerichte & Getränke,
      welche Sie nach kurzer Wartezeit bei sich Zuhause oder am Ort Ihres
      Wunsches geniessen können. Bestellen Sie die gewünschte Gericht
      telefonisch und holen sich das Menu im Restaurant in Thun ab. Wir freuen
      uns auf Sie!</p>
    </br>
  </br>
  <p> Schon gewusst? Rama Thai ist auch bei <a href="https://www.ubereats.com/ch-de/store/rama-thai/z16_mUlaT6OsIZn3BvMliA?srsltid=AfmBOoraoegPVOWE0gHjqfwrXo8Z0eLcGP88Y2ea3ZiCeW7msXQKrQAb">Uber Eats</a>. Wir freuen
    uns auf Ihre Bestellung!</p>

    </section>
    <div class="menu">

<div class="plate">
  <img src="/uploads/rotes_curry.png" alt="Rotes Curry">
  <div class="beschreibung">
  <p class="name">Rotes Curry mit CH-Poulet und Jasminreis </br>
    -----</br>
    Rotes Curry mit Gemüse und oder Tofu & Jasminreis</p>
  <p class="bold">Mittagsmenü ab CHF 14.50 / Take-away ab CHF 12.50</p>
</div>
</div>

<div class="plate">
  <img src="/uploads/gebratene_nudeln.png" alt="Gebratene Nudeln">
  <div class="beschreibung">
  <p class="name">Gebratene Eiernudeln mit Gemüse</br>
    -----</br>
    Gebratene Eiernudeln mit CH-Poulet</br>
    -----</br>
    Gebratene Eiernudeln mit Tofu
  </p>
  <p class="bold">Mittagsmenü ab CHF 14.50 / Take-away ab CHF 12.50</p>
</div>
</div>

<div class="plate">
  <img src="/uploads/schweinefleisch_gehackt.png" alt="Schweinefleisch gehackt">
  <div class="beschreibung">
  <p class="name">Schweinefleisch gehackt, Thaibasilikum, Gemüse und Jasminreis</p>
  <p class="bold">Mittagsmenü ab CHF 14.50 / Take-away ab CHF 12.50</p>
</div>
</div>

<div class="plate">
  <img src="/uploads/gebackenes_fischfilet.png" alt="Gebackenes Fischfilet">
  <div class="beschreibung">
  <p class="name">Gebackenes Fischfilet an Chilisauce und Jasminreis</br>
    -----</br>
    Gebackenes Fischfilet an Süss-Sauer Sauce und Jasminreis</p>
    <p class="bold">Mittagsmenü ab CHF 14.50 / Take-away ab CHF 12.50</p>
  </div>
  </div>

    </div>


</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>