<h1>hallo username.</h1>

<button type="button">dini biträg</button>
<button type="button">glikte biträg</button>
<button type="button"><a href="/create_beitrag">bitrag erstelle</a></button>

<img src="Matterhorn.jpg" width="200" />

<div class="like">
<i data-feather="heart"></i>
</div>

<script>
  feather.replace();
</script>