<h1>hallo username.</h1>

<button type="button">dini biträg</button>
<button type="button">glikte biträg</button>
<button type="button"><a href="/create_beitrag">bitrag erstelle</a></button>

{{#posts}}
  <a href="/beitrag/{{id}}"><img class="img-beitrag" src="{{photo_url}}" /></a>
{{/posts}}

<script>
  feather.replace();
</script>