<h1>hallo, schön das du da bisch.</h1>

<div class="navigation">
  <button type="button" class="filter" id="posts">dini biträg</button>
  <button type="button" class="filter" id="likes">glikte biträg</button>
  <button type="button"><a href="/create_beitrag">bitrag erstelle</a></button>
</div>

<div class="posts" id="beitrage">
  {{#posts}}
    <a href="/beitrag/{{id}}"><img
        class="img-beitrag"
        src="/uploads/{{photo_url}}"
      /></a>
  {{/posts}}
</div>

<div class="likes" id="beitrage" style="display: none;">
  {{#liked}}
    <a href="/beitrag/{{id}}"><img
        class="img-beitrag"
        src="/uploads/{{photo_url}}"
      /></a>
  {{/liked}}
</div>

<script>
  feather.replace();
</script>

<script>
  function applyFilter() { const id = this.id; console.log(id); if(id ==
  "posts") { document.querySelector(".posts").style.display = 'flex';
  document.querySelector(".likes").style.display = 'none'; } if(id == "likes") {
  document.querySelector(".posts").style.display = 'none';
  document.querySelector(".likes").style.display = 'flex'; } } const filters =
  document.querySelectorAll(".filter"); for(const filter of filters) {
  filter.addEventListener('click', applyFilter) }
</script>