<h1>registrier di.</h1>

<form>
  <p>vorname</p>
  <input type="text" />
  <p>nachname</p>
  <input type="text" />
  <p>email</p>
  <input type="email" />
  <p>nutzername</p>
  <input type="text" />
  <p>passwort</p>
  <input type="password" />
  <input type="submit" value="registriere" />

  <p>hesch scho es konto? <a href="/login">log di ih!</a></p>
</form>