<h1>fing di perfekt usflug.</h1>

<div class="navigation">
  <div class="dropdown-group">
    <button type="button">kanton</button>
    <div class="dropdown">
      <a href="#" class="p-dropdown">bern</a>
      <a href="#" class="p-dropdown">fribourg</a>
      <a href="#" class="p-dropdown">luzern</a>
    </div>
  </div>
  <div class="dropdown-group">
    <button type="button">hashtags</button>
    <div class="dropdown">
      <a href="#" class="p-dropdown">sport</a>
      <a href="#" class="p-dropdown">essen</a>
      <a href="#" class="p-dropdown">pipapo</a>
    </div>
  </div>
  <button type="button">meiste likes</button>
</div>

<div class="beitrage">

  {{#users}}
    <hr />
    <h2>{{username}}</h2>
  {{/users}}

  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
  <a href="/beitrag"><img class="img-beitrag" src="Matterhorn.jpg" /></a>
</div>

{{!--{{> contactform}}--}}