<h1>fing di perfekt usflug.</h1>

<form action="/" method="GET">
  <select name="kanton">
    <option value="fribourg">Fribourg</option>
    <option value="bern">Bern</option>
  </select>
  <input type="submit" />

</form>

<div class="navigation">
  <div class="dropdown-group">
    <button type="button">kanton</button>
    <div class="dropdown">
      <a href="#" class="p-dropdown">bern</a>
      <a href="#" class="p-dropdown">fribourg</a>
      <a href="#" class="p-dropdown">luzern</a>
    </div>
  </div>
  <div class="dropdown-group">
    <button type="button">hashtags</button>
    <div class="dropdown">
      <a href="#" class="p-dropdown">sport</a>
      <a href="#" class="p-dropdown">essen</a>
      <a href="#" class="p-dropdown">pipapo</a>
    </div>
  </div>
  <button type="button">meiste likes</button>
</div>

<div class="beitrage">
  {{#posts}}
    <a href="/beitrag/{{id}}"><img
        class="img-beitrag"
        src="/uploads/{{photo_url}}"
      /></a>
    <form action="/like/{{id}}" enctype="multipart/form-data" method="POST">
      <input type="image" src="/heart.svg" />
    </form>
  {{/posts}}
</div>