<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="hero_home">

  </section>

  <section class="welcome">
    <h1 class="nomarginbottom">Willkommen im</h1>
    <h1 class="nomargintop">Rama Thai Restaurant</h1>
    <p>Unser Team verwöhnt Sie mit kulinarischen Genüssen & gepflegter
      Gastfreundschaft. Gemütliche Räume & ein abwechslungsreiches Angebot laden
      zum Schwelgen in Heimat- oder Feriengefühlen ein. Freuen Sie sich auf
      gesunde & erfrischende Momente in unserem Restaurant. Das Rama Thai ist
      seit 2021 in das ehemalige Rössli Berntor umgezogen.</p>
    <div class="buttons">
      <a href="/ueberuns" class="btn">Über Rama Thai</a>
      <a href="/menu" class="btn">Unser Angebot</a>
    </div>
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>