<header>
  <div class="nav-container">
    <a href="/"><img
        class="logo"
        src="/uploads/RamaThai_Logo.png"
        alt="Logo"
      /></a>
    <nav>
      <ul>
        <li><a href="/">Rama Thai</a></li>
        <li><a href="/menu">Menü/Take Away</a></li>
        <li><a
            href="https://reserve.foratable.com/?restaurantHash=2595bb101bfc1c02367e09add3a36163#!/table"
          >Reservation</a></li>
        <li><a href="/ueberuns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="body">

  <section class="hero_team">
    
  </section>

  <section class="welcome" id="ueberuns">
    <h1>Über Uns</h1>
    <p>Seit dem Sommer 2012 ist das Rama Thai Restaurant in der Thuner
      Innenstadt für Sie da. Wir servieren Ihnen original Thai-Food rund ums
      Jahr, mit Liebe und Herzblut.
    </p>
  </br>
    <p>
      Unser Team hat den Grundsatz, keine Ihrer kulinarischen Wünsche unerfüllt
      zu lassen. Wenn Ihnen der Aufenthalt & das Essen bei uns gefallen haben,
      Sie laufend über Neuigkeiten rund um Rama Thai informiert werden wollen
      oder uns eine konstruktive Kritik zukommen lassen möchten, besuchen Sie
      uns doch auf Facebook. Wir freuen uns über Ihr Feedback.</p>
    
  </section>

</section>

<footer>
  <p class="footer_p">Öffnungszeiten: Mo. + Mi. - Fr. : 11:45 - 13:00 / 17:30 -
    21:30 | Sa. - So. : 17:30 - 21:30 |
    <a href="/impressum">Impressum</a>
    |
    <a href="/erklaerung">Erklärungsseite</a></p>
  <a href="https://www.facebook.com/ramathai.ch"><img
      class="socials"
      src="/uploads/facebook.svg"
      alt="Facebook"
    /></a>
</footer>