* {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  max-width: 60vw;
}

#kontakt-seite {
  margin: 10vh;
  display: flex;
  text-align: left;
}

.kontaktangaben {
  padding-top: 10vh;
}

.oeffnungszeiten {
  padding-top: 10vh;
}

.links,
.rechts {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

form {
  max-width: 30vw;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  max-width: 15vw;
}

.bold {
  font-weight: bold;
}

header {
  background-color: #66b245;
  padding: 15px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

.logo {
  max-height: 50px;
}

.hero img {
  width: 100%;
  height: auto;
}

.welcome {
  padding: 40px;
}

h1 {
  color: #66b245;
  font-weight: 400;
  font-size: 50px;
}

h2 {
  color: #66b245;
  font-weight: 400;
  font-size: 35px;
  padding-top: 30px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

.buttons {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: #66b245;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
}

input {
  background-color: rgba(102, 178, 69, 0.7);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
}

.long {
  min-height: 100px;
}

.plate {
  min-width: 60vw;
  padding: 5vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beschreibung {
  padding: 30px;
}

.menu {
  padding-bottom: 10vh;
}

footer {
  border-top: 1px solid grey;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_p {
  font-size: 15px;
}
